<a href="https://colab.research.google.com/github/RoxioGS/CodeFirstGirls-Python/blob/main/Code_first_girls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TodayÂ´s session will be focused in:
-Lists and dictionaries
-Functions (len, max and min, sorted,list, reversed).
-Append method
-In operator

In [ ]:
carrots = input('How many carrots do you have? ')
rabbits = 6

if rabbits < carrots:
    print('There are not enough carrots')
if rabbits > carrots:
    print('There are too many carrots')
else:
    print('You have the right number of carrots')

KeyboardInterrupt: ignored

In [ ]:
#lottery_numbers = [14, 20 ,35, 40]
#lottery_winners = ['mark', 'sally', 'Hank', 'Jolene']
#person = ['Jess', 32]

In [ ]:
student_name = ['mark', 'sally', 'Hank', 'Jolene']
print(student_name[3])

Jolene

In [ ]:
student_name = ['mark', 'sally', 'Hank', 'Jolene']

student_name[1] = 'Josh'

print(student_name)

['mark', 'Josh', 'Hank', 'Jolene']

In [ ]:
clothes = [
    "shorts",
    "shoes",
    "t-shirt",
]

When I'm travelling in the winter I often forget to pack warm clothes. Let's write a program to help me to remember the right clothes.
The program should check if the first item in the clothes list is "shorts". If it is it should change the value to "warm coat".

In [ ]:
clothes = [
    "Shorts",
    "shoes",
    "t-shirt",
]

if clothes[0] == 'shorts' :
    clothes[0] = 'warm coat'
if clothes[0] == 'Shorts' :
    clothes[0] = 'warm coat'

print(clothes)

['warm coat', 'shoes', 't-shirt']

In [ ]:
lottery_numbers = [14, 20 ,35, 40]

print(len(lottery_numbers))// exception

4

NameError: ignored

In [ ]:
#print(len(lottery_numbers))
#print(max(lottery_numbers))
#print(min(lottery_numbers))

In [ ]:
lottery_numbers = [20, 14 ,35, 40]

#print(max(lottery_numbers))
#print(min(lottery_numbers))
#print(sorted(lottery_numbers))

print(list(reversed(lottery_numbers)))

[40, 35, 14, 20]

In [ ]:
lottery_numbers = ['apple' ,'duck' ,'ball']

#print(max(lottery_numbers))
#print(min(lottery_numbers))
print(sorted(lottery_numbers))

['apple', 'ball', 'duck']

Make a list of game scores. Using list functions write code to output information of the scores in the following format:

Number of scores: 10
Highest score: 200
Lowest score: 3

Output all of the scores in descending order

main = ascending
 Output all of the scores in descending order-extensition

In [ ]:
student_name = input('which student u looking for?')

students = ['halley', 'steve', 'mitch', 'josh']

if student_name in students:
    print('{} is in the class'.format(student_name))
else :
    print('{} is not in the class'.format(student_name))

which student u looking for?mark
mark is not in the class

In [ ]:
students = ['halley', 'steve', 'mitch', 'josh']
student_name = input('which student u looking for?')

students.append(student_name)

print(sorted(students))

which student u looking for?steve
['halley', 'josh', 'mitch', 'steve', 'steve']

Whenever I'm shopping and I buy some bread I always forget to buy butter. Create a list and if 'bread' is in the list, add 'butter' to the shopping list.

Try running the program with and without bread in the list to check that your program works.

Remember the in operator checks if an item is in a list and the .append() method adds an item to a list.

In [ ]:
shopping_list =[ 'cheese' ,'tarts','carrots']

if 'bread' not in shopping_list:
    shopping_list.append('butter')

print(shopping_list)

['cheese', 'tarts', 'carrots', 'butter']

In [ ]:
shopping_list =[ 'bread' ,'tarts','carrots']

if 'bread' in shopping_list:
    shopping_list.append('butter')

print(shopping_list)

['bread', 'tarts', 'carrots', 'butter']

Counting the total number of items in a list using a for loop

In [ ]:
students = ['halley', 'steve', 'mitch', 'josh']
count = 0

#Counting the total number
# of items in a list using a for loop

for students in students:
    count = count + 1


print(count)

4

In [ ]:
student_names = ['Diedre', 'Hank', 'Helena', 'Salome']

for student_name in student_names:
    print(student_name)

Diedre
Hank
Helena
Salome

Exercise 4.4: I want to work out how much money I've spent on lunch this week. I've created a list of what I spent each day.

Write a program that uses a for loop to calculate the total cost

costs = [8.30, 7.12, 5.01, 1.00, 0.99, 5.92, 3.50]
total_cost = 0

In [ ]:
person = {
    'name': 'Jessica',
    'age': 23,
    'height': 172
}

In [ ]:
person = {
    'name': 'Jessica',
    'age': 23,
    'height': 172
}

print(person['name'])

Jessica

In [ ]:
place = {
    'name': 'The Anchor',
    'post_code': 'E14 6HY',
    'street_number': '54',
    'location': {
        'longitude': 127,
        'latitude': 63,
    }
}

Print the values of name, post_code and street_number from the dictionary

In [ ]:
place = {
    'name': 'The Anchor',
    'post_code': 'E14 6HY',
    'street_number': '54',
    'location': {
        'longitude': 127,
        'latitude': 63,
    }
}
print(place['name'])
print(place['post_code'])
print(place['street_number'])

location = place['location']
print(location['longitude'])

The Anchor
E14 6HY
54
127

In [ ]:
people = [
    {'name': 'Jessica', 'age': 23 },
    {'name': 'Sneha', 'age': 22}
]

In [ ]:
people = [
    {'name': 'Jessica', 'age': 23},
    {'name': 'Sneha', 'age': 22}
]

for person in people:
    print(person['name'])
    print(person['age'])

Jessica
23
Sneha
22

Using a for loop, output the values name, colour and price of each dictionary in the list

In [ ]:
import random
colours = ['red' , 'blue' ,'green', 'purple']
rand_col = random.choice(colours)

print(rand_col)

red

In [ ]:
people = [
    {'name': 'Jessica', 'age': 23},
    {'name': 'Sneha', 'age': 22}
]

for person in people:
    print(person['name'])
    print(person['age'])

 #Using a for loop, output the values name, #
# colour and price of each dictionary in the list
fruits = [
    {'name': 'apple', 'colour': 'red', 'price': 0.12},
    {'name': 'banana', 'colour': 'yellow', 'price': 0.2},
    {'name': 'pear', 'colour': 'green', 'price': 0.19},
]

for fruit in fruits:
    print(fruit['name'])
    print(fruit['colour'])
    print(fruit['price'])

Jessica
23
Sneha
22
apple
red
0.12
banana
yellow
0.2
pear
green
0.19