<a href="https://colab.research.google.com/github/RoxioGS/CodeFirstGirls-Python/blob/main/Group_Project_Spreadsheet_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:


import random

def generar_matriz(filas, columnas):
    matriz = [[random.randint(0, 9) for _ in range(columnas)] for _ in range(filas)]
    return matriz

def imprimir_matriz(matriz):
    for fila in matriz:
        print(fila)

def calcular_suma_filas(matriz):
    return [sum(fila) for fila in matriz]

def calcular_suma_columnas(matriz):
    return [sum(columna) for columna in zip(*matriz)]

filas = int(input("Ingrese el n√∫mero de filas de la matriz: "))
columnas = int(input("Ingrese el n√∫mero de columnas de la matriz: "))

matriz = generar_matriz(filas, columnas)

print("Resultado:")
imprimir_matriz(matriz)

suma_filas = calcular_suma_filas(matriz)

suma_columnas = calcular_suma_columnas(matriz)

print("Suma de filas:")
print(suma_filas)

print("Suma de columnas:")
print(suma_columnas)

Ingrese el n√∫mero de filas de la matriz: 3
Ingrese el n√∫mero de columnas de la matriz: 2
Resultado:
[4, 1]
[3, 8]
[9, 7]
Suma de filas:
[5, 11, 16]
Suma de columnas:
[16, 16]

In [ ]:
import random

def generar_matriz(filas, columnas):
    matriz = [[random.randint(0, 9) for _ in range(columnas)] for _ in range(filas)]
    return matriz

def imprimir_matriz(matriz):
    for fila in matriz:
        print(fila)

def calcular_suma_filas(matriz):
    return [sum(fila) for fila in matriz]

def calcular_suma_columnas(matriz):
    return [sum(columna) for columna in zip(*matriz)]

while True:
    try:
        filas = int(input("Ingrese el n√∫mero de filas de la matriz (rango 0-9): "))
        columnas = int(input("Ingrese el n√∫mero de columnas de la matriz (rango 0-9): "))
        if 0 <= filas <= 50 and 0 <= columnas <= 50:
            break
        else:
            print("Solo se permiten valores entre 0 y 50.")
    except ValueError:
        print("Solo se admiten n√∫meros (0-50).")

matriz = generar_matriz(filas, columnas)

print("Resultado:")
imprimir_matriz(matriz)

suma_filas = calcular_suma_filas(matriz)
suma_columnas = calcular_suma_columnas(matriz)

print("Suma de filas:")
print(suma_filas)

print("Suma de columnas:")
print(suma_columnas)

Solo se admiten n√∫meros (0-50).
Solo se admiten n√∫meros (0-50).

In [7]:
import pandas as pd

excel_file_path = 'MFG10YearTerminationData.csv'

df = pd.read_csv(excel_file_path)
print(df.columns)

df_info = df.info()
print(df_info)
print(df.describe()["length_of_service"])

grouped_df = df.groupby(["length_of_service"]).min()
print(grouped_df[["department_name", "job_title", "store_name", "city_name", "terminationdate_key", "termreason_desc"]])

service_length_min = df["length_of_service"].min()
service_length_max = df["length_of_service"].max()
#for filtering by status:
specific_status = "Resignation"
#for filtering by status:
filtered_df = df.loc[df["termreason_desc"] == specific_status]

for month, service_length_max in sorted_month_sales:
        percentage = (sales / total) * 100
        print(month, sales, f"{percentage:.2f}% of total")

print("Filtered DataFrame:")
print(filtered_df)

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB
None
count    49653.000000
mean        10.434596
std          6.325286
min          0.000000
25%          5.000000
50%         10.000000
75%         15.000000
max         26.000000
Name: length_of_service, dtype: float64
                  department_name         job_title  store_name   city_name  \
length_of_service
0                          Bakery             Baker           1  Abbotsford
1                          Bakery             Baker           1  Abbotsford
2                          Bakery             Baker           1  Abbotsford
3                          Bakery             Baker           1  Abbotsford
4                          Bakery             Baker           1  Abbotsford
5                          Bakery             Baker           1  Abbotsford
6                          Bakery             Baker           1  Abbotsford
7                          Bakery             Baker           1  Abbotsford
8                          Bakery             Baker           1  Abbotsford
9                          Bakery             Baker           1  Abbotsford
10                         Bakery             Baker           1  Abbotsford
11                         Bakery             Baker           1  Abbotsford
12                         Bakery             Baker           1  Abbotsford
13                         Bakery             Baker           1  Abbotsford
14                         Bakery             Baker           1  Abbotsford
15                         Bakery             Baker           1  Abbotsford
16                     Accounting  Accounting Clerk           1  Abbotsford
17                     Accounting  Accounting Clerk           1  Abbotsford
18                     Accounting  Accounting Clerk           1  Abbotsford
19                     Accounting  Accounting Clerk           1  Abbotsford
20                     Accounting  Accounting Clerk           1  Abbotsford
21                     Accounting  Accounting Clerk           1  Abbotsford
22                     Accounting  Accounting Clerk           1  Abbotsford
23                     Accounting  Accounting Clerk           1  Abbotsford
24                     Accounting  Accounting Clerk           1  Abbotsford
25                     Accounting  Accounting Clerk           1  Abbotsford
26                      Executive               CEO          18     Nanaimo

                  terminationdate_key termreason_desc
length_of_service
0                            1/1/1900  Not Applicable
1                            1/1/1900          Layoff
2                            1/1/1900          Layoff
3                            1/1/1900          Layoff
4                            1/1/1900          Layoff
5                            1/1/1900          Layoff
6                            1/1/1900          Layoff
7                            1/1/1900          Layoff
8                            1/1/1900          Layoff
9                            1/1/1900          Layoff
10                           1/1/1900          Layoff
11                           1/1/1900          Layoff
12                           1/1/1900          Layoff
13                           1/1/1900          Layoff
14                           1/1/1900          Layoff
15                           1/1/1900          Layoff
16                           1/1/1900          Layoff
17                           1/1/1900          Layoff
18                           1/1/1900          Layoff
19                           1/1/1900          Layoff
20                           1/1/1900          Layoff
21                           1/1/1900          Layoff
22                           1/1/1900          Layoff
23                           1/1/1900          Layoff
24                           1/1/1900          Layoff
25                           1/1/1900          Layoff
26                           1/1/1900  Not Applicable
jul 1521.0 3.34% of total
nov 1521.0 3.34% of total
jan 1521.0 3.34% of total
oct 1521.0 3.34% of total
aug 1521.0 3.34% of total
sep 1521.0 3.34% of total
jun 1521.0 3.34% of total
apr 1521.0 3.34% of total
mar 1521.0 3.34% of total
dec 1521.0 3.34% of total
may 1521.0 3.34% of total
feb 1521.0 3.34% of total
Filtered DataFrame:
Empty DataFrame
Columns: [EmployeeID, recorddate_key, birthdate_key, orighiredate_key, terminationdate_key, age, length_of_service, city_name, department_name, job_title, store_name, gender_short, gender_full, termreason_desc, termtype_desc, STATUS_YEAR, STATUS, BUSINESS_UNIT]
Index: []

# New Section

Additional sources:
>For plotting graphs https://www.geeksforgeeks.org/plotting-graph-using-seaborn-python/


>Datasets: https://www.kaggle.com/docs/datasets

Solution:
>How to read data from spreadsheet


>


>How to collect all of the sales from each month into a single list



>


>Output the total sales across all months



>

How about **SHEETAH** üêÜ (althought that's a leopard!) for a name? Short for Spread**SHEET** **A**nalysis **H**elper *üëÄ*

In [ ]:
import csv
with open('/content/sales.csv') as csv_file:
    spreadsheet = csv.DictReader(csv_file)
    sales_list = []
    for row in spreadsheet:
        month = str(row['month'])
        sales = float(row['sales'])
        sales_list.append(sales)
        total = sum(sales_list)
        percentage = (sales / total) * 100
        print(month, sales, f"{percentage:.2f}% of total")
    total = sum(sales_list)
    minimum = min(sales_list)
    maximum = max(sales_list)
    print("Yearly total:", int(total))
    print("Lowest performing month:", minimum)
    print("Highest performing month:", maximum)

jan 6226.0 100.00% of total
feb 1521.0 19.63% of total
mar 1842.0 19.21% of total
apr 2051.0 17.62% of total
may 1728.0 12.93% of total
jun 2138.0 13.79% of total
jul 7479.0 32.54% of total
aug 4434.0 16.17% of total
sep 3615.0 11.65% of total
oct 5472.0 14.99% of total
nov 7224.0 16.52% of total
dec 1812.0 3.98% of total
Yearly total: 45542
Lowest performing month: 1521.0
Highest performing month: 7479.0

In [6]:
import pandas as pd
excel_file_path ='MFG10YearTerminationData.csv'

df = pd.read_csv(excel_file_path)
print(df.columns)

df_info = df.info()
print(df_info)
print(df.describe()["length_of_service"])

grouped_df = df.groupby(["length_of_service"]).max()
print(grouped_df[["department_name", "job_title", "store_name", "city_name", "terminationdate_key"]])

service_length_min = df["length_of_service"].min()
service_length_max = df["length_of_service"].max()

specific_status = "Resignation"
# for filtering by status:
print("Minimum length of service:", service_length_min, "months")
print("Maximum length of service:", service_length_max, "months")

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB
None
count    49653.000000
mean        10.434596
std          6.325286
min          0.000000
25%          5.000000
50%         10.000000
75%         15.000000
max         26.000000
Name: length_of_service, dtype: float64
                    department_name      job_title  store_name  \
length_of_service
0                           Produce  Shelf Stocker          46
1                           Produce  Shelf Stocker          46
2                           Produce  Shelf Stocker          46
3                           Produce  Shelf Stocker          46
4                           Produce  Shelf Stocker          46
5                           Produce  Shelf Stocker          46
6                           Produce  Shelf Stocker          46
7                           Produce  Shelf Stocker          46
8                           Produce  Shelf Stocker          46
9                           Produce  Shelf Stocker          46
10                          Produce  Shelf Stocker          46
11                          Produce  Shelf Stocker          46
12                          Produce  Shelf Stocker          46
13                 Store Management  Store Manager          46
14                 Store Management  Store Manager          46
15                 Store Management  Store Manager          46
16                 Store Management  Store Manager          46
17                         Training      VP Stores          46
18                         Training      VP Stores          46
19                         Training      VP Stores          46
20                         Training      VP Stores          46
21                         Training      VP Stores          46
22                         Training      VP Stores          46
23                         Training      VP Stores          46
24                         Training      VP Stores          46
25                 Store Management      VP Stores          45
26                 Store Management      VP Stores          35

                        city_name terminationdate_key
length_of_service
0                   Williams Lake            9/8/2014
1                   Williams Lake            9/8/2014
2                   Williams Lake            9/7/2013
3                   Williams Lake            9/7/2013
4                   Williams Lake            9/7/2013
5                   Williams Lake            9/7/2013
6                   Williams Lake            9/7/2008
7                   Williams Lake            9/7/2008
8                   Williams Lake            9/7/2008
9                   Williams Lake            9/6/2013
10                  Williams Lake            9/6/2013
11                  Williams Lake            9/6/2013
12                  Williams Lake            9/6/2013
13                  Williams Lake            9/6/2013
14                  Williams Lake            9/8/2006
15                  Williams Lake           9/19/2011
16                  Williams Lake            9/9/2010
17                  Williams Lake            9/9/2010
18                  Williams Lake            9/9/2010
19                  Williams Lake            9/9/2010
20                  Williams Lake            9/9/2010
21                  Williams Lake            9/5/2014
22                  Williams Lake            9/5/2014
23                  Williams Lake            9/5/2014
24                  Williams Lake            9/5/2014
25                 West Vancouver            9/4/2015
26                      Vancouver            1/1/1900
Minimum length of service: 0 months
Maximum length of service: 26 months